
html{
    background-image: url('Techbackground.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: auto;
    height: auto;
}
*{

    font-family: Avenir, sans-serif;
}

nav{
    margin: 10px auto 40px auto;
    position: sticky;
    text-align: center;
    top: 10px;
    padding: 0px;
    width: 850px;
}

nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li{
    float: left;
    width: 25%;
    text-align: center;
}


nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block; 
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: blue;
    border-bottom: 2px solid blue;
}
h3{
text-align: center;
display: flex;
align-items: center;
justify-content: center;
color: darkgray;
}
h4{
    color: darkgray;
}
h5{
    color:darkgray;
}